.topic {
    border-bottom: solid 1px rgba(1, 58, 99, 0.1);
    padding: 18px 20px 18px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:last-child {
        border: none;
    }

    &:hover {
        transition: all ease-in-out 120ms;
        background-color: rgba(1, 42, 74, 0.08);
        cursor: pointer;
    }

    > .logo {
        display: flex;
        align-items: center;
        width: 48px;

        > img {
            height: 24px;
        }
    }

    > .name {
        text-align: left;
        padding-left: 18px;
        font-size: 21px;
        font-weight: 300;
        width: 100%;
    }

    > .stars {
        border-left: dotted 1px rgba(0, 0, 0, 0.118);
        width: 150px;

        > .icon {
            font-weight: 900;
            font-size: 15px;
            margin-right: 2px;
        }

        > .count {
            font-size: 15px;
        }
    }
}

@media (max-width: 400px) {
    .topic {
        padding: 10px 16px 10px 16px;
    
        &:hover {
            background-color: transparent;
        }
    
        > .name {
            font-size: 18px;
        }
    
        > .stars {
            width: 130px;
    
            > .count {
                font-size: 13px;
            }
        }
    }
}
