.results {
  max-width: 420px;
  margin: 0 auto;
  padding: 10px;

  > .title {
    font-size: 18px;
  }

  > .loader {
    text-align: center;

    > div {
      margin: 0 auto;
      display: block !important;
    }
  }
}

@media (max-width: 400px) {
  .results {
    > .title {
      font-size: 16px;
    }
  }
}
